<html ng-app="docs">
<head>
<script src="js/angular.min.js"></script>
<script src="js/controllers.js"></script>
</head>
<body ng-controller="leo">
	<div>
		<label>Name:</label>
		<input type="text" ng-model="yourName" placeholder="Enter a name here">
		<hr>
		<h1>Hello {{yourName}}!</h1>
	</div>

	<div ng-init="descricao='inicio'">
		<textarea ng-model="descricao">{{descricao}}</textarea>
	</div>

	<p ng-show="descricao.length < 10">Mínimo de 10 caracteres</p>
	<div>
		<button ng-disabled=" descricao.length < 10">Enviar</button>

	</div>

	<hr>

	<ul>
		<li ng-repeat="meta in metas">{{meta.nome}}</li>
	</ul>
</body>
</html>